[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BIDistances"]
	path = BIDistances
	url = https://github.com/cran/BIDistances
[submodule "mrf"]
	path = mrf
	url = https://github.com/quirinms/mrfr
